<ion-header>
  <ion-toolbar>
    <ion-title>Account List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let account of accountList | async" routerLink="/detail/{{account.id}}">
    <ion-card-header>
      {{ account.first_name }}
    </ion-card-header>
    <ion-card-content>
      Full Name: {{ account.first_name }} {{ account.last_name }}
      <br />
      Email: {{ account.email }} 
    </ion-card-content>
  </ion-card>
</ion-content>
